<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/StyleMain.css">
    <title>Music App</title>
    <script src="https://kit.fontawesome.com/c0b1a641d5.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #131312 !important;
            overflow: hidden;
        }
        .song_side::-webkit-scrollbar {
            width: 5px;
            background-color: #F5F5F5;
        }
        .song_side::-webkit-scrollbar-thumb {
            background-color: aqua;
        }
        audio{
            height: 20px;
        }

    </style>
</head>

<body>
    <header>
        <div class="menu_side">
            <h1>Playlist</h1>
            <div class="playlist">
                <h4 class="active">
                    <span></span>
                    <i class="bi bi-music-note-beamed"></i>
                    Playlist
                    @* margin-top: -10px; *@
                    <a href="@Url.Action("ShowInputPlaylist", "Home")" style="position: absolute; right: 15px; font-size: 20px;">
                        <i  class="fa-solid fa-square-plus"></i>
                    </a>
                </h4>
                @* form input add Playlist *@

                @if (Session["ShowInputPlaylist"] != null)
                {
                    using (Html.BeginForm("AddPlaylist", "Home", FormMethod.Post))
                    {
            <div style="display:flex;">


                <div style="margin-right: 20px;">
                    <input type="text" id="inputValue" name="inputValue" placeholder="Input Name Playlist" style="border: none; padding: 5px; border-radius: 5px;" />
                </div>
                <button type="submit" style="background-color: black; border: 3px solid aqua; color: aqua; padding: 5px;">Add</button>
            </div>
                    }
                }

                @if (ViewBag.Message != null)
                {
                    <h4>@ViewBag.Message</h4>
                }

                @{
                    ProjectHQTCSDL.Models.ProjectMusicEntities db = new ProjectHQTCSDL.Models.ProjectMusicEntities();
                    var getUser = Session["User"] as ProjectHQTCSDL.Models.UserMain;
                    if (getUser != null)
                    {
                        var getPlaylist = db.Playlists.Where(x => x.idUser == getUser.idUser).ToList();
                        foreach (var item in getPlaylist)
                        {
                            <h4><span></span><i class="bi bi-music-note-beamed"></i> 
                                <a href="@Url.Action("ShowPlaylist", "Home", new {idPLaylist = item.idPlaylist })" style="text-decoration:none; color:white; display: flex;justify-content: space-between;">
                                    @item.tenPlaylist  
                                    <a href="@Url.Action("SelectedPlaylist", "Home", new {idPlaylist = item.idPlaylist })" style="position: absolute; right: 15px; font-size: 20px; color: aqua">
                                        <i  class="fa-solid fa-square-plus"></i>
                                    </a>
                                </a>
                            </h4>
                        }
                    }


                }
                @*<h4><span></span><i class="bi bi-music-note-beamed"></i> Recommended</h4>*@
            </div>
            @*<div class="menu_song">
                <li class="songItem">
                    <span>01</span>
                    <img src="~/img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
            </div>*@
        </div>

        <div class="song_side" style="overflow: auto; padding-bottom: 10px;">
            @* header *@
            <nav>
                <ul>
                    <a href="@Url.Action("Index", "Home")">
                    <li>Discover<span></span></li> </a>
                    <li>MY LIBRARY</li>
                    <li>RADIO</li>
                </ul>
                <div class="search">
                    <form method="get" class="search_btn_try" action="/Home/Search" style="display: flex">
                        <button style="border: none; background: none; color: white;" type="submit" class="bi bi-search"></button>
                        <input type="text" name="search" placeholder="Search Music....">
                        @*<button type="submit" style="border: none"><i class="fa-solid fa-magnifying-glass"></i></button>*@
                    </form>
                    @*<i class="bi bi-search"></i>
                    <input type="text" placeholder="Search Music...">*@
                </div>
                <div class="user" style="display:flex; width: auto;">
                    <img src="~/img/KDS CODER.png" alt="User" title="KDS CODER (Jahid Khan)" style="position: relative;">
                    <a href="@Url.Action("SignIn", "Home")" style="color:white;text-decoration:none; font-size: 12px; border: 1px solid white;padding: 0 5px; padding-top: 5px; margin-left: 10px;"> Đăng Nhập</a>
                </div>
            </nav>

            @RenderBody()

        </div>
    @* MAster play Music  *@
    <div class="master_play">
        <div class="wave">
            <div class="wave1"></div>
            <div class="wave1"></div>
            <div class="wave1"></div>
        </div>
        @{

            var getBaiHat = Session["BaiHat"] as ProjectHQTCSDL.Models.Music;
            var getSingerMaster = new List<ProjectHQTCSDL.Models.CaSi>();
            if (getBaiHat != null)
            {
                getSingerMaster = db.CaSis.Where(x => x.idCaSi == getBaiHat.idCaSi).ToList();
                if (getSingerMaster != null && getSingerMaster.Count > 0)
                {
                    ViewBag.getSingerMaster = getSingerMaster[0];
                }
            }

        }
        @if (getBaiHat != null)
        {
            <img style="object-fit:cover;" src="~/Images/@getBaiHat.imgMusic" alt="Alan" id="poster_master_play">
        }
        else
        {
            <img src="~/img/26th.jpg" alt="Alan" id="poster_master_play">

        }
        <h5 id="title">

            @if (getBaiHat != null)
            {
                <div style="margin-bottom: -15px;">@getBaiHat.tenBaiHat</div>
            }
            else
            {
                <div>Hello</div>
            }
            <br>
            @if (ViewBag.getSingerMaster != null)
            {
                <div style="margin-top: 10px;" class="subtitle">@ViewBag.getSingerMaster.tenCaSi</div>
            }
            else
            {
                <div class="subtitle">Bankim Chandra</div>
            }
        </h5>
        <div class="icon" style="display: flex; align-items: center;">
            <i class="bi bi-skip-start-fill" id="back"></i>
            <i class="bi @*bi-play-fill*@" id="masterPlay">
                @if (Session["Music"] == null)
                {
                    <audio src="~/Content/audio/1.mp3" controls></audio>
                }
                else
                {

                    <audio src="~/Audio/@Session["Music"]" controls></audio>
                }
            </i>
            <i class="bi bi-skip-end-fill" id="next"></i>
        </div>
        @if (Session["BaiHat"] != null)
        {
            //var getSong = Session["BaiHat"] as ProjectHQTCSDL.Models.Music;
    <div>


        <a href="@Url.Action("ShowComment", "Home", new {idMusic = getBaiHat.idMusic })" style="color:aqua">


            <i style="font-size: 17px;" class="fa-solid fa-comments"></i>
        </a>
        @if (getBaiHat.idLyric != null)
        {
            <a href="@Url.Action("ShowLyric", "Home", new { idLyric = getBaiHat.idLyric})" style="margin-left: 20px; color: aqua; cursor: pointer;">
                <i style="font-size: 17px;" class="fa-solid fa-music"></i>
            </a>
        }


    </div>
        }

    </div>
    </header>
    <script src="app.js"></script>
</body>

</html>